/* Google Font Styles */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

/* Landing Page Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(78, 71, 255, 0.01);
}

/* Shared Styles */
.btn-primary{
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #4E47FF;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    transition: 0.7s;
}

.btn-primary:hover{
  background-color: blueviolet;
  font-size: 20px;
}

.color-primary{
  color:#4E47FF;
}

header{
  background-image: url("../Assets/Hero-bg.png");
  height: 700px;
}

.nav-container{
    margin: 0 auto;
    max-width: 1140px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
}

.nav-title h3{
  font-size: 34px;
  font-weight: 900;
}

.nav-btn button{
    font-weight: bold;
    width: 132px;
    height: 48px;
    border-radius: 10px;
    border: none;
    color: white;
}

.banner-container{
  margin: 0 auto;
  max-width: 1140px;
  text-align: center;
  /* border: 3px solid black; */
  margin-top: 150px;
}

.banner-title{
  font-size: 35px;
}

.banner-btn button{
  width: 174px;
  height: 48px;
  margin-top: 35px;
}
