/* Google Font Styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Landing Page Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(78, 71, 255, 0.01);
}

/* Shared Styles */
.btn-primary {
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #4e47ff;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  transition: 0.7s;
}

.btn-primary:hover {
  background-color: blueviolet;
  font-size: 20px;
}

.color-primary {
  color: #4e47ff;
}

header {
  background-image: url("../Assets/Hero-bg.png");
  height: 700px;
}

.nav-container {
  margin: 0 auto;
  max-width: 1140px;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
}

.nav-title h3 {
  font-size: 34px;
  font-weight: 900;
}

.nav-btn button {
  font-weight: bold;
  width: 132px;
  height: 48px;
  border-radius: 10px;
  border: none;
  color: white;
}

.banner-container {
  margin: 0 auto;
  max-width: 1140px;
  text-align: center;
  /* border: 3px solid black; */
  margin-top: 150px;
}

.banner-title {
  font-size: 35px;
}

.banner-btn button {
  width: 174px;
  height: 48px;
  margin-top: 35px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* Action Section Styles */

.action-container {
  margin-top: 116px;
  margin-bottom: 116px;
  height: 330px;
  display: flex;
  justify-content: space-between;
  gap: 220px;
  background-color:white;
}

.action-texts {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.action-title {
  font-size: 42px;
}

.action-description {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
}

.action-btn {
  width: 230px;
  height: 48px;
}

.action-img img {
  border-radius: 48px;
}

/* Productive users Section Styles */
.users-container {
  text-align: center;
  margin-bottom: 135px;
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  padding: 50px 140px;
}

.users-title {
  font-size: 38px;
}

.users-description{
  display: flex;
  justify-content: space-around;
  gap: 150px;
  margin-top: 20px;
}

.users-rating{
  font-family: "Inter", sans-serif;
  font-size: 80px;
  color: #4e47ff;
}

.users-subtitle{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* User Feedback Section Style */
.feedback-container{
  margin-bottom: 140px;
}

.feedback-title{
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  margin-bottom: 50px;
}

.feedback-description-container{
  display: flex;
  gap: 20px;
}

.feedback-card{
  background-color: white;
  border-radius: 15px;
  width: 367px;
  height: 243px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  box-shadow: 2px 2px 2px lightgrey;
}

.feedback-card-title{
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

.feedback-card-description{
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.feedback-user{
  display: flex;
  gap: 15px;
}

.feedback-user-name{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #757575;
  font-weight: 600;
}

.feedback-date{
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #B3B3B3;
}

.feedback-user-img img{
  border-radius: 50%;
}


/* Get in touch Section Styles */
.touch-container{
  height: 632px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 115px;
}

.touch-title{
  font-family: "Raleway", sans-serif;
  font-size: 97px;
}

.form-label, input[type="button"]{
  display: block;
}

.form-label{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.form-input {
  background-color: #FFFFFF;
  border-radius: 10px;
  border: none;
  width: 490px;
  height: 70px;
  padding: 32px 20px;
}

textarea {
  background-color: #FFFFFF;
  border-radius: 10px;
  border: none;
  width: 490px;
  height: 135px;
  margin-bottom: 20px;
  padding: 32px 20px;
}

.form-input[placeholder="example@email.com"], .form-input[placeholder="full name"], textarea[placeholder="write your message..."] {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

input[type="button"] {
  width: 100%;
  height: 62px;
}